<nav class="navbar navbar-expand-lg @@classList">
  @@if(type=="boxed"){<div class="container">}

    <!-- Brand -->
    <a class="navbar-brand d-flex" href="@@webRoot/cloud.html">
      <img src="@@webRoot/assets/img/logo.png" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link pl-3 pr-3" id="navbarFeatures" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Features
          </a>
          <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarFeatures">
            <div class="row no-gutters">
              <div class="col-12 col-lg-6">
                <div class="dropdown-img-left" style="background-image: url(@@webRoot/assets/img/photos/photo-3.jpg);">

                  <!-- Heading -->
                  <h4 class="font-weight-bold text-white mb-0">
                    Ideation management platform
                  </h4>

                  <!-- Text -->
                  <p class="font-size-sm text-white">
                    Collect, engage and launch ideas
                  </p>

                  <!-- Button -->
                  <a href="@@webRoot/overview.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                    See all features
                  </a>

                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="dropdown-body">
                  <div class="row no-gutters">
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Ideas
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/coworking.html">
                        Coworking
                      </a>
                      <a class="dropdown-item" href="@@webRoot/rental.html">
                        Rental
                      </a>
                      <a class="dropdown-item mb-5" href="@@webRoot/job.html">
                        Job Listing
                      </a>

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Roadmaps
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/desktop-app.html">
                        Desktop
                      </a>
                      <a class="dropdown-item" href="@@webRoot/mobile-app.html">
                        Mobile
                      </a>

                    </div>
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Launches
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/index.html">
                        Basic
                      </a>
                      <a class="dropdown-item" href="@@webRoot/enterprise.html">
                        Enterprise
                      </a>
                      <a class="dropdown-item" href="@@webRoot/service.html">
                        Service
                      </a>
                      <a class="dropdown-item" href="@@webRoot/cloud.html">
                        Cloud Hosting
                      </a>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3 pr-3" href="pricing.html">
            Pricing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3 pr-3" href="contact.html">
            Support
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3 pr-3" href="https://app.akedo.io/teams/akedo/public_roadmap">
            Roadmap
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-3 pr-3" href="https://app.akedo.io/teams/akedo/change_log">
            Change Log
          </a>
        </li>
      </ul>


      <a class="navbar-btn btn btn-sm btn-primary-soft lift mr-2 ml-2" href="https://app.akedo.io/login">
        Login
      </a>
      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-primary lift" href="https://app.akedo.io/signup">
        Ready to try Akedo?
      </a>

    </div>

  @@if(type=="boxed"){</div>}
</nav>
